body {
  background-color: #35589A;
}

.watch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.minutes {
  fill: transparent;
  stroke:#2F3A8F;
  stroke-width: 20;
  stroke-dasharray:0.2, 0.8;
  stroke-dashoffset: 0.1;
}

.hours {
  fill: transparent;
  stroke: #FC9918;
  stroke-width:20;
  stroke-dashoffset:0.1;
  stroke-dasharray: 0.2, 4.8;
}

.hand {
  stroke: #FFBD35;
  stroke-width: 5;
  stroke-linecap: round;
}

.hand--thick {
  stroke: #FFBD35;
  stroke-width: 15;
  stroke-linecap: round;
}

.middle-circle {
  stroke: #FFBD35;
  stroke-width: 5;
  fill: #35589A;
}

.hand--second {
  stroke: #FFF;
}

@media (max-width: 600px) {
  svg {
    width: 300px;
    height: 300px;
    viewbox: -150, -150, 300, 300;
  }

  .watch {
    padding: 2rem;
  }
}

@media (max-width: 420px) {
  svg {
    width: 200px;
    height: 200px;
    viewbox: -100, -100, 200, 200;
  }

  .watch {
    padding: 2rem;
  }
}
